<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password Form</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body, html {
      height: 100%;
      margin: 0;
    }
    .centered-form {
      height: 100vh; /* 100% de la hauteur de la fenêtre d'affichage */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form-container {
      padding: 2rem;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background-color: #f8f9fa;
      width: 100%;
      max-width: 400px; /* Limite la taille du formulaire */
    }
  </style>
</head>
<body>

<div class="container centered-form">
  <div class="form-container">
    <h2 class="mb-4 text-center">Reset Password</h2>
    <form>
      <div class="form-group">
        <label for="resetCode">Enter the reset code:</label>
        <input type="text" class="form-control" id="resetCode" [(ngModel)]="resetCode" placeholder="Enter reset code" required>
      </div>
      <div class="form-group">
        <label for="newPassword">Enter your new password:</label>
        <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" placeholder="Enter new password" required>
      </div>
      <button class="btn btn-primary btn-block mt-4" (click)="resetPassword()" routerLink="/admin">Reset Password</button>
    </form>

    <!-- Message de succès -->
    <div *ngIf="passwordResetSuccess" class="alert alert-success mt-4" role="alert">
      Password reset successfully!
    </div>

    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="alert alert-danger mt-4" role="alert">
      {{ errorMessage }}
    </div>
  </div>
</div>

</body>
</html>
