<nav>
  <img src="assets/tradey.webp" alt="Logo" class="logo" />
  <ul>
    <li><a routerLink="/anaf" (click)="closeMenu()">Analyse Fondamentale</a></li>
    <li><a routerLink="/ana" (click)="closeMenu()">Analyse Technique</a></li>
    <li><a routerLink="/chatgpt" (click)="closeMenu()">Aide</a></li>
    <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
  </ul>

  <!-- Menu Utilisateur -->
  <div class="user-menu">
    <div class="user-circle" (click)="toggleMenu()">☰</div>
    <div class="dropdown-menu" [class.show]="menuOpen">
      <ul>
        <li><a routerLink="/register" (click)="closeMenu()">S'inscrire</a></li>
        <li><a routerLink="/login" (click)="closeMenu()">Se Connecter</a></li>
        <li><a routerLink="/changepass" (click)="closeMenu()">Changer mot de passe</a></li>
        <li><a routerLink="/logout" (click)="closeMenu()">Se Déconnecter</a></li>
      </ul>
    </div>
  </div>
</nav>
