<nav>
    <img src="assets/tradey.webp" alt="Logo" class="logo">
    <ul>
    <li><a [routerLink]="['/portfolios']">Portfolios</a></li>
    <li><a [routerLink]="['/transfer-funds']">Transfer Funds</a></li>
    <li><a [routerLink]="['/orders']">Orders</a></li>
    <li><a [routerLink]="['/assets']">Assets</a></li>
    <li><a [routerLink]="['/market']">Market Data</a></li>  
    <li><a [routerLink]="['/buy-order']">Place Buy Order</a></li> <!-- New link for Buy Order -->
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/service">Join Us Now</a></li>
    </ul>
  </nav>
  