<div class="portfolio-container">
  <h3>Your Portfolios</h3>
  <ul class="portfolio-list" *ngIf="portfolios.length > 0; else noPortfolios">
    <li class="portfolio-item" *ngFor="let portfolio of portfolios">
      <p><strong>Name:</strong> {{ portfolio.name }}</p> 
      <p><strong>Balance:</strong> {{ portfolio.balance | currency:'TND':'symbol':'1.2-2' }}</p>

      <ul class="assets-list">
        <li class="asset-item" *ngFor="let asset of portfolio.assets">
          <p><strong>Asset Name:</strong> {{ asset.name }}</p>
          <p [ngClass]="{'text-danger': asset.price < 0, 'text-success': asset.price >= 0}">
  <strong>{{ asset.price < 0 ? 'Loss:' : 'Benefits:' }}</strong> {{ asset.price | currency:'TND':'symbol':'1.2-2' }}
</p>
                  <p><strong>Qurent Price:</strong> {{ asset.benefits  | currency:'TND':'symbol':'1.2-2' }}</p>
                  <p><strong>Quantity:</strong> {{ asset.quantity }}</p>

          <!-- View Orders Button -->
          <button (click)="openOrdersModal(asset.orders)">View Orders</button>
          <button (click)="placeOrder(asset.name,asset.benefits,asset.quantity,'SELL',portfolio.id)" style="margin-left: 10px;">Sell All</button>

        </li>
      </ul>
    </li>
  </ul>

  <ng-template #noPortfolios>
    <p>No portfolios available.</p>
  </ng-template>

  <h3>Create a New Portfolio</h3>
  <form (ngSubmit)="createPortfolio()" class="create-portfolio-form">
    <div class="input-group">
      <input
        id="portfolioName"
        type="text"
        [(ngModel)]="newPortfolioName"
        name="portfolioName"
        placeholder="Enter portfolio name"
        required
      />
    </div>
    <button type="submit">Create Portfolio</button>
  </form>
  <p *ngIf="creationMessage">{{ creationMessage }}</p>

  <!-- Orders Modal -->
  <div class="modal" *ngIf="showOrdersModal">
    <div class="modal-content">
      <span class="close" (click)="closeOrdersModal()">&times;</span>
      <h4>Orders</h4>
      <table>
        <thead>
          <tr>
            <th>Price</th>
            <th>Quantity</th>
            <th>Timestamp</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let order of currentOrders"
            [ngClass]="{ 'buy-order': order.type === 'BUY', 'sell-order': order.type === 'SELL' }"
          >
            <td>
              {{ order.type === 'BUY' ? '-' : '+' }}{{ order.price | currency:'TND':'symbol':'1.2-2' }}
            </td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.timestamp }}</td>
            <td>{{ order.type }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
