<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!-- Footer Section -->
<footer class="footer">
  <div class="footer-content">

    <div class="about-us">
      <h3>About Us</h3>
      <p>Welcome to Tradey, your interactive trading simulator designed to empower traders of all levels. We believe that understanding the financial markets should be accessible and engaging.</p>
    </div>
    <div class="connect-with-us">
      <h3>Connect With Us</h3>
      <ul class="social-links">
        <li><a href="https://www.linkedin.com/company/majda-smart-solutions/" target="_blank"><img src="assets/linkedin.png" alt="LinkedIn"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Tradey. All Rights Reserved.</p>
  </div>
</footer>
