<div class="container">
  <!-- Carte de Recherche -->
  <mat-card class="search-card">
    <mat-card-header>
      <mat-card-title>Analyse Financière</mat-card-title>
      <button class="btn btn-secondary" (click)="navigateToAna()">Analyse technique</button>

      <mat-card-subtitle>
        Entrez un symbole pour obtenir des données financières clés et un graphique interactif.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="search-bar">
        <mat-form-field appearance="outline" class="flex-grow-1">
          <mat-label>Symbole</mat-label>
          <input
            matInput
            [(ngModel)]="searchSymbol"
            placeholder="Entrez un symbole (ex : AAPL)"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="searchFinancialData()"
        >
          Rechercher
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Tableau des Données -->
  <mat-card *ngIf="financialData" class="data-card">
    <mat-card-header>
      <mat-card-title>Données Financières</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p-table [value]="[financialData]" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Métrique</th>
            <th>Valeur</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr *ngFor="let key of financialData | keyvalue">
            <td>{{ key.key }}</td>
            <td>{{ key.value }}</td>
          </tr>
        </ng-template>
      </p-table>
    </mat-card-content>
  </mat-card>

  <!-- Graphique -->
  <mat-card class="chart-card">
    <mat-card-header>
      <mat-card-title>Graphique des Données Clés</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas id="financialChart"></canvas>
    </mat-card-content>
  </mat-card>
</div>
