<div class="transfer-funds-form">
  <h3>Transfer Funds</h3>

  <!-- Form content -->
<div *ngIf="isLoading" class="loading-spinner"></div>

<form *ngIf="!isLoading" (ngSubmit)="onSubmit()" class="form-layout">
  <div class="form-group">
      <label for="userId">User ID:</label>
      <input
        type="number"
        id="userId"
        [(ngModel)]="userId"
        name="userId"
        class="form-control"
        placeholder="Enter User ID"
        required
      />
    </div>
    <div class="form-group">
      <label for="portfolioId">Portfolio ID:</label>
      <input
        type="number"
        id="portfolioId"
        [(ngModel)]="portfolioId"
        name="portfolioId"
        class="form-control"
        placeholder="Enter Portfolio ID"
        required
      />
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input
        type="number"
        id="amount"
        [(ngModel)]="amount"
        name="amount"
        class="form-control"
        placeholder="Enter Amount"
        required
      />
    </div>
    <div class="form-group">
      <label for="direction">Direction:</label>
      <select
        id="direction"
        [(ngModel)]="direction"
        name="direction"
        class="form-control"
        required
      >
        <option value="toPortfolio">To Portfolio</option>
        <option value="toUser">To User</option>
      </select>
    </div>
    <button type="submit" class="btn-submit">Transfer Funds</button>
  </form>
  <p *ngIf="message" class="message">{{ message }}</p>
</div>
