<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .centered-form {
            height: 100vh; /* Full viewport height */
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div>
    <div *ngIf="!resetCodeSent">
        <div class="form-group">
            <label for="email">Enter your email:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter your email">
        </div>
        <!-- Utiliser routerLink pour la navigation vers resetpass -->
        <button class="btn btn-primary" (click)="sendResetCode()" routerLink="/resetpass">Send Reset Code</button>
    </div>
    <div *ngIf="resetCodeSent">
        <!-- Redirection vers la page de réinitialisation du code -->
        <app-reset-code></app-reset-code>
    </div>
    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
    </div>
</div>
</body></html>
