
<div class="header-content">
    <h1>Trading Plateform, Accessible For Everyone.</h1>
    <p>Join Users worldwide and planify Your investing strategy with us</p>
    <button class="apply-btn" routerLink="/apply">Join Now</button>
  </div>
  
  
  <div class="agency-info">
    <p>Tradey is committed to transforming the trading experience for both novice and seasoned traders. Our platform combines cutting-edge technology with educational resources to provide a comprehensive trading simulator.</p>
  </div>
  
  <div class="card-section">
    <!-- Your cards here -->
    <div class="card">
      <img src="assets/portfolio.jpeg" alt="Loan Image">
      <h2 class="card-title">Portfolio</h2>
      <p class="card-text">Invest in a variety of asset classes...</p>
      <button class="view-details">View details</button>
    </div>
    <div class="card">
      <img src="assets/investor.jpeg" alt="Loan Image">
      <h2 class="card-title">Copy other Investing Strategies</h2>
      <p class="card-text">With Tradey, you can automatically copy other investor's marketing strategies</p>
      <button class="view-details">Start Copying</button>
    </div>
    <div class="card">
      <img src="assets/learn.jpeg" alt="Loan Image">
      <h2 class="card-title">Investing Courses, podcasts</h2>
      <p class="card-text">Tradey provides professional financial education for all levels</p>
      <button class="view-details">Start Learning</button>
    </div>
  </div>