<div class="container-fluid mt-5 text-center">
  <!-- Titre et bouton d'analyse -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Analyse du Marché pour le Symbole : {{ symbol }}</h2>
<!--    <button class="btn btn-secondary ml-3" (click)="navigateToAnaf()">Analyse fondamentale</button>-->
  </div>

  <!-- Zone d'entrée et boutons d'action -->
  <div class="input-container mt-4">
    <input [(ngModel)]="symbol" class="form-control input-symbol text-center" placeholder="Entrez un symbole (ex: AAPL)" />
    <div class="buttons d-flex justify-content-center flex-wrap">
      <button class="btn btn-primary" (click)="getRecommendationTrends()">Tendances de Recommandation</button>
      <button class="btn btn-info" (click)="getHistoricalOptions()">Options Historiques</button>
      <button class="btn btn-warning" (click)="getRisk()">Évaluation du Risque</button>
      <button class="btn btn-dark" (click)="loadStockQuote()">Quota</button>
      <button class="btn btn-success" (click)="getSentimentAnalysis()">Analyse Sentimentale</button>
    </div>
  </div>

  <!-- Affichage des erreurs -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    <strong>Erreur!</strong> {{ errorMessage }}
  </div>

  <!-- Cartes pour afficher les résultats -->
  <!-- Tendances de recommandation -->
  <div *ngIf="selectedChart === 'recommendation'" class="card chart-card mx-auto">
    <div class="card-header">
      <h4>Tendances de Recommandation</h4>
    </div>
    <div class="card-body text-center">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <canvas baseChart [data]="recommendationChartData" [options]="chartOptions" [type]="chartType"></canvas>
        </div>
        <div class="col-md-4">
          <div class="trend-indicator">
            <h5>Recommandation: {{ recommendationTrends?.buy > 0.5 ? 'Acheter' : 'Vendre' }}</h5>
            <div *ngIf="recommendationTrends?.buy > 0.5" class="indicator buy">💚</div>
            <div *ngIf="recommendationTrends?.buy <= 0.5" class="indicator sell">💔</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Options historiques -->
  <div *ngIf="selectedChart === 'historical'" class="card">
    <div class="card-header">
      <h4>Options Historiques</h4>
    </div>
    <div class="card-body chart-full">
      <canvas baseChart [data]="historicalChartData" [options]="chartOptions" [type]="chartType"></canvas>
    </div>
    <!-- Tableau des options historiques -->
    <div class="table-responsive mt-4">
      <table class="table table-bordered table-striped shadow">
        <thead>
        <tr>
          <th>Contract ID</th>
          <th>Symbole</th>
          <th>Expiration</th>
          <th>Strike</th>
          <th>Type</th>
          <th>Last</th>
          <th>Mark</th>
          <th>Bid</th>
          <th>Ask</th>
          <th>Volume</th>
          <th>Open Interest</th>
          <th>Implied Volatility</th>
          <th>Delta</th>
          <th>Gamma</th>
          <th>Theta</th>
          <th>Vega</th>
          <th>Rho</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let option of historicalOptions">
          <td>{{ option.contractID }}</td>
          <td>{{ option.symbol }}</td>
          <td>{{ option.expiration }}</td>
          <td>{{ option.strike }}</td>
          <td>{{ option.type }}</td>
          <td>{{ option.last }}</td>
          <td>{{ option.mark }}</td>
          <td>{{ option.bid }}</td>
          <td>{{ option.ask }}</td>
          <td>{{ option.volume }}</td>
          <td>{{ option.open_interest }}</td>
          <td>{{ option.implied_volatility }}</td>
          <td>{{ option.delta }}</td>
          <td>{{ option.gamma }}</td>
          <td>{{ option.theta }}</td>
          <td>{{ option.vega }}</td>
          <td>{{ option.rho }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Risque -->
  <div *ngIf="selectedChart === 'risk'" class="card">
    <div class="card-header">
      <h4>Évaluation du Risque</h4>
    </div>
    <div class="card-body">
      <canvas baseChart [data]="riskChartData" [options]="chartOptions" [type]="chartType"></canvas>
    </div>
  </div>
  <div *ngIf="stockData" class="table-responsive mt-4">
    <table class="table table-bordered table-striped shadow">
      <thead>
      <tr>
        <th>Symbole</th>
        <th>Prix Actuel</th>
        <th>Prix d'Ouverture</th>
        <th>Prix Haut</th>
        <th>Prix Bas</th>
        <th>Fermeture Précédente</th>
        <th>Changement</th>
        <th>% Changement</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ symbol.toUpperCase() }}</td>
        <td>{{ stockData.current }}</td>
        <td>{{ stockData.open }}</td>
        <td>{{ stockData.high }}</td>
        <td>{{ stockData.low }}</td>
        <td>{{ stockData.previousClose }}</td>
        <td
          [ngClass]="{'text-success': stockData.change > 0, 'text-danger': stockData.change < 0}">
          {{ stockData.change }}
        </td>
        <td
          [ngClass]="{'text-success': stockData.changePercent > 0, 'text-danger': stockData.changePercent < 0}">
          {{ stockData.changePercent | number: '1.2-2' }}%
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- Sentiment -->
  <div *ngIf="sentimentAnalysis" class="sentiment-section">
    <!-- Graphique -->
    <div class="chart-container">
      <canvas
        baseChart
        [data]="sentimentChartData"
        [options]="sentimentChartOptions"
        [type]="'pie'"
        class="sentiment-chart"
      ></canvas>
    </div>

    <!-- Tableau des sentiments -->
    <div class="table-container mt-4">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Time Published</th>
          <th>Authors</th>
          <th>Summary</th>
          <th>Source</th>
          <th>Category</th>
          <th>Overall Sentiment</th>
          <th>Ticker Sentiment</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let article of sentimentAnalysis.feed">
          <td>{{ article.title }}</td>
          <td><a [href]="article.url" target="_blank">{{ article.url }}</a></td>
          <td>{{ article.time_published }}</td>
          <td>
            <ul>
              <li *ngFor="let author of article.authors">{{ author }}</li>
            </ul>
          </td>
          <td>{{ article.summary }}</td>
          <td>{{ article.source }}</td>
          <td>{{ article.category_within_source }}</td>
          <td>{{ article.overall_sentiment_label }} ({{ article.overall_sentiment_score }})</td>
          <td>
            <ul>
              <li *ngFor="let sentiment of article.ticker_sentiment">
                <strong>{{ sentiment.ticker }}:</strong>
                {{ sentiment.ticker_sentiment_label }} ({{ sentiment.ticker_sentiment_score }})
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
